In [2]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\user\anaconda3\lib\site-packages (1.0.2)

In [22]:
def getdatas(cur) : 
    result = cur.fetchall()
    l = []
    for a in result :    
        d = {}
        fs = [c[0] for c  in cur.description ]
        for i in range(len(fs)) :
           d[fs[i]] = a[i]    
        l.append(d)
    return l

def query(cursor, sql, param ) :
    
    cursor.execute(sql, param ) 
    return getdatas(cursor)

def execute(cursor, sql, param ) :    
    return cursor.execute(sql, param )

In [23]:
import pymysql 

conn = pymysql.connect(host='localhost', user='test', password='1234', charset='utf8', db='hgd_db') 
cursor = conn.cursor() 

sql = "SELECT * FROM member" 

cursor.execute(sql) 
res = cursor.fetchall() 

for data in res: 
        print(data)

(1, 'lee', '123', '홍길동', None, -1, datetime.datetime(2021, 10, 1, 13, 44, 22))
(2, 'kim', '123', '홍길동', None, -1, datetime.datetime(2021, 10, 1, 13, 44, 22))
(3, 'shin', '123', '신사임당', None, -1, datetime.datetime(2021, 10, 1, 13, 44, 22))
(4, 'shin', '123', '신사임당', None, -1, datetime.datetime(2021, 10, 1, 14, 40, 59))

In [21]:
userid = 'lee'
userpwd = '123'

sql = "SELECT * FROM member where userid=%s and userpwd=%s"

query( cursor, sql, (userid, userpwd) )

[{'pid': 1,
  'userid': 'lee',
  'userpwd': '123',
  'username': '홍길동',
  'hobby': None,
  'gender': -1,
  'regdate': datetime.datetime(2021, 10, 1, 13, 44, 22)}]

In [26]:
userid = 'uuuu'
userpwd = '123'
username = '신사임당'


sql = "iNSERT INTO MEMBER (userid, userpwd, username) VALUES (%s,%s,%s)"
r = execute(cursor, sql, (userid, userpwd, username))
print(r)

1

In [27]:
userid = 'uuuu'
userpwd = '123'
username = '신사임당'

sql = "update member set hobby='camera'"
r = execute(cursor, sql, ())
print(r)

5